.header-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 48px);
    z-index: 999;

    padding: 0 24px;
    background-color: var(--black-color-01);
}

.modal {
    width: 100%;
    top: 85px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}