.header-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    padding: 0 24px;
    background-color: var(--black-color-01);
}

.modal-menu {
    width: 100%;
    top: 85px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-cart {
    width: calc(100% - 48px);
    max-width: 377px;
    margin: auto;
    top: 110px;
}

@media screen and (min-width: 768px) {
    .header-navbar {
        padding: 0 40px;
    }

    .modal-menu {
        top: 90px;
        padding-bottom: 66px;
    }

    .modal-cart {
        left: unset;
        transform: unset;
        right: 40px;
        top: 115px;
    }
}