.headerCategory {
    width: 100%;
    z-index: 99;
    padding: 122px 0 32px;
    background-color: var(--black-color-01);
}

.title {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    color: var(--white-color);
}

@media screen and (min-width: 768px) {
    .headerCategory {
        padding: 194px 0 96px;
    }

    .title {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1.43px;
    }
}