.kanban {
    background: #000000 url(../../assets/home/mobile/image-header.jpg) center / 375px no-repeat;
    height: 600px;

    position: relative;
}

.kanban-wrapper {
    width: calc(100% - 48px);
    max-width: 328px;

    position: absolute;
    padding: 0 24px;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
    .kanban {
        background: #000000 url(../../assets/home/tablet/image-header.jpg) center / 768px no-repeat;
        height: 729px;
    }

    .kanban-wrapper {
        max-width: 396px;
        padding: 0;

        top: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .kanban {
        background: #000000 url(../../assets/home/desktop/image-hero.jpg) center / 1440px no-repeat;
    }

    .kanban-wrapper {
        max-width: 398px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    .kanban-wrapper-outer {
        width: 100%;
        max-width: 1110px;
        margin: auto;
        height: 100%;
        position: relative;
    }
}