.message {
    padding: 0 24px;
    margin-top: 120px;
}

.message-image {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.message-textbox {
    margin-top: 40px;
}

.message-title {
    letter-spacing: 1px;
    margin-bottom: 32px;
}

.message-title span {
    color: var(--orange-color-dark);
}

@media screen and (min-width: 768px) {
    .message {
        padding: 0 40px;
        margin-top: 120px;
    }

    .message-textbox {
        margin: auto;
        margin-top: 62px;
        max-width: 572px;
    }

    .message-title {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1.43px;
    }
}

@media screen and (min-width: 1200px) {
    .message {
        padding: 0;
        width: 100%;
        max-width: 1110px;
        margin: auto;
        margin-top: 200px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .message-image {
        order: 2;
        width: 540px;
    }

    .message-textbox {
        order: 1;
        margin: 0;
        max-width: 445px;
        text-align: left;
    }
}