.list {
    padding: 0 24px;
    list-style: none;
    margin-top: 64px;
    margin-bottom: 172px;
}

@media screen and (min-width: 768px) {
    .list {
        padding: 0 40px;
        margin-top: 120px;
    }
}

@media screen and (min-width: 1200px) {
    .list {
        padding: 0;
        width: 100%;
        max-width: 1110px;
        margin: auto;
        margin-top: 160px;
    }
}