.item {
    margin-bottom: 120px;
}

.item-image {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .item-image {
        margin-bottom: 52px;
    }

    .item h1 {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1.43px;
        max-width: 300px;
        margin: auto;
    }

    .item p {
        max-width: 572px;
        margin: 32px auto 24px;
    }
}

@media screen and (min-width: 1200px) {
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 160px;
    }

    .item:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .item article {
        max-width: 445px;
    }

    .item h1 {
        margin: 0;
    }

    .item p {
        margin: 32px 0 40px;
    }

    .item-image {
        width: 540px;
        margin: 0;
    }
}