.button {
    width: 160px;
    height: 46px;
    display: inline-block;

    font-weight: bold;
    font-size: var(--font-size-button);
    letter-spacing: 1px;
    line-height: 46px;
    text-transform: uppercase;
    text-align: center;

    border: 1px solid var(--black-color-01);
}

.button.style01 {
    background-color: var(--orange-color-dark);
    border: 1px solid var(--orange-color-dark);
}

.button.style02 {
    background-color: var(--black-color-01);
}

.button.style03 {
    width: unset;
    height: unset;
    line-height: 18px;
    color: rgba(0, 0, 0, .5);
    background-color: transparent;
    display: inline-block;
    border: none;
}

.button.style03 span {
    width: 7px;
    height: 7px;
    border: 2px solid var(--orange-color-dark);
    transform: rotate(45deg);
    display: inline-block;
    border-left: none;
    border-bottom: none;
    margin-left: 8px;
}

@media screen and (min-width: 1200px) {
    .button {
        transition: all .2s;
    }

    .button:hover {
        background-color: var(--black-color-01);
        color: var(--white-color);
    }

    .button.style01:hover {
        background-color: var(--orange-color-light);
        border-color: var(--orange-color-light);
    }

    .button.style03:hover {
        color: var(--orange-color-dark);
        background-color: transparent;
    }
}