.showbox {
    padding: 0 24px;
}

.showbox-item01 {
    height: 600px;
    background-color: var(--orange-color-dark);
    border-radius: 8px;

    position: relative;
}

.showbox-item01-image {
    width: 172px;
    margin: auto;

    position: absolute;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
}

.showbox-item01-card {
    width: calc(100% - 48px);
    max-width: 280px;

    position: absolute;
    padding: 0 24px;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.showbox-item02 {
    text-align: left;
    border-radius: 8px;
    height: 320px;
    background: url(../../assets//home/mobile/image-speaker-zx7.png) bottom left no-repeat;
    background-size: cover;

    margin-top: 24px;
    padding: 0 24px;
    display: flex;
    align-items: center;
}

.showbox-item02-button,
.showbox-item03-button {
    margin-top: 32px;
}

.showbox-item03-image {
    margin-top: 24px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.showbox-item03-wrapper {
    border-radius: 8px;
    margin-top: 24px;
    height: 200px;
    background-color: var(--grey-color-01);
    text-align: left;

    display: flex;
    align-items: center;
    padding: 0 24px;
}