.productCard {
    margin-top: 32px;
}

.overline {
    margin-bottom: 24px;
}

.title {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1px;
}

.description {
    opacity: .5;
    margin: 24px 0;
}

.price {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .productCard {
        margin-top: 0;
        margin-left: 70px;
        width: calc(100% - 280px - 70px);
    }

    .description {
        margin: 32px 0;
    }
}

@media screen and (min-width: 1200px) {
    .productCard {
        margin-left: 0;
        width: 445px;
    }

    .overline {
        margin-bottom: 16px;
    }

    .title {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1.43px;
    }

    .price {
        margin-bottom: 46px;
    }
}