.item {
    margin-bottom: 56px;
}

.item-image {
    border-radius: 8px;
    overflow: hidden;
}

.item-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.71px;
    margin: 32px 0;
}

.item-button {
    color: var(--white-color);
}

@media screen and (min-width: 768px) {
    .item {
        margin-bottom: 0;
        width: calc((100% - 20px) / 3);
    }

    .item-title {
        margin: 40px 0 32px;
    }
}