.product {
    text-align: left;
    padding: 0 24px;
    margin-top: 116px;
}

.product-card-wrapper {
    margin-top: 24px;
}

.product-image {
    border-radius: 8px;
    overflow: hidden;
}

.info {
    margin-top: 88px;
}

.info-title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.86px;
    margin-bottom: 24px;
}

.info-paragraph {
    opacity: .5;
    white-space: break-spaces;
}

.info-paragraph-wrap {
    margin-bottom: 8px;
}

.info-quantity {
    color: var(--orange-color-dark);
    font-weight: bold;
    margin-right: 20px;
}

.menu {
    margin-top: 172px;
}

.notFound {
    text-align: center;
    padding-top: 80px;
}

.notFound p {
    color: var(--orange-color-dark);
    margin-bottom: 20px;
    font-weight: bold;
}

.notFound a {
    opacity: .5;
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .product {
        padding: 0 40px;
        margin-top: 122px;
    }

    .product-card-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-image {
        width: 280px;
    }

    .info {
        margin-top: 120px;
    }

    .info-title {
        font-size: 32px;
        letter-spacing: 1.14px;
        margin-bottom: 32px;
    }

    .info.inbox {
        display: flex;
    }

    .info-list {
        margin-left: 170px;
    }

    .info-quantity {
        margin-right: 24px;
    }

    .menu {
        margin: 172px -40px 0;
    }
}

@media screen and (min-width: 1200px) {
    .product {
        padding: 0;
        width: 100%;
        max-width: 1110px;
        margin: auto;
        margin-top: 170px;
    }

    .product-card-wrapper {
        margin-top: 56px;
    }

    .product-image {
        width: 540px;
    }

    .info-group {
        display: flex;
        justify-content: space-between;
    }

    .info {
        margin-top: 160px;
    }

    .info-features {
        width: 635px;
    }

    .info.inbox {
        display: inline-block;
        width: 350px;
    }

    .info-list {
        margin-left: 0;
    }

    .menu {
        margin: 240px -40px 0;
    }

    .notFound a:hover {
        opacity: 1;
        color: var(--orange-color-dark);
    }
}