.item {
    margin-bottom: 24px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    flex: 0 0 64px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 16px;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1 1 auto;
}

.description span {
    line-height: 25px;
    display: inline-block;
}

.description-name {
    font-weight: bold;
}

.description-price {
    font-size: 14px;
    opacity: .5;
}

.amount {
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 0;
    opacity: .5;
}