.summary {
    margin-top: 32px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list dt,
.list dd {
    width: 50%;
    margin-bottom: 8px;
}

.list dt:last-of-type,
.list dd:last-of-type {
    margin-top: 16px;
}

.list dd:last-of-type {
    color: var(--orange-color-dark);
}

.term {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0;
    opacity: .5;
}

.description {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0;
}