.main {
    margin-top: 85px;
    text-align: left;
    padding: 16px 24px 0;
}

@media screen and (min-width: 768px) {
    .main {
        margin-top: 90px;
        padding: 48px 40px 0;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        padding: 80px 0 0;
        width: 100%;
        max-width: 1110px;
        margin: 90px auto 0;
    }
}