.wrapper {
    margin-top: 32px;
    display: inline-block;
}

.title {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.93px;
    color: var(--orange-color-dark);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .wrapper {
        margin-top: 50px;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title {
        width: 100%;
    }
}