.navbar {
    color: var(--white-color);
    margin: 48px auto;
}

.navbar-list {
    list-style: none;
}

.navbar-item {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 25px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .navbar {
        margin: 32px auto;
    }

    .navbar-list {
        display: flex;
    }

    .navbar-item {
        margin-bottom: 0;
        margin-right: 34px;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        margin: 0;
    }

    .navbar-item:last-child {
        margin-right: 0;
    }

    .navbar-item {
        transition: all .2s;
    }

    .navbar-item:hover {
        color: var(--orange-color-dark);
    }
}