.button-sp {
    width: 16px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-sp span {
    width: 100%;
    height: 3px;
    display: inline-block;
    background-color: var(--white-color);
}