.menu {
    margin-top: 90px;
}

.menuList {
    list-style: none;
}

@media screen and (min-width: 768px) {
    .menu {
        margin-top: 108px;
    }

    .menuList {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    .menu {
        margin-top: 200px;
    }
}